.novo-livro-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 80, 145);
}
h1{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.novo-livro-container .content{
    width: 100%;
    padding: 96px;
    background:rgb(6, 80, 145);
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.novo-livro-container .content section{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.novo-livro-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    
}

.novo-livro-container .content form p{
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
}

.novo-livro-container section.form img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: block;
}

.back-link{
    color: white ;
    text-decoration: none;
    
}